node-linker=hoisted
public-hoist-pattern[]=@prisma/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
shamefully-hoist=false
auto-install-peers=true
strict-peer-dependencies=false
